services:
  - type: web
    name: smartqueue-backend
    runtime: python
    buildCommand: pip install -r requirements.txt && PYTHONPATH=. python backend/seed.py
    startCommand: uvicorn backend.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: false
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: FRONTEND_URL
        value: https://smart-queue33.vercel.app
